<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<% if current_user%>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end%>
<%= link_to 'Back', blogs_path %>
