<!DOCTYPE html>
<html>

<head>
    <title>Cms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        
        <% if current_user.nil? %>
            <%= button_to new_user_session_path, class: 'login-button' do %>login<% end %>
        <% else %>
            <!-- this following is a temp route takes it to create new blog-->
            <%= button_to rails_admin_path, class: 'login-button' do %>Go to App<% end %>
        <% end %>

        <% if user_signed_in? %>
            <%= button_to('Edit registration', edit_user_registration_path) %>
            <%= button_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
            <%= button_to('Register', new_user_registration_path)  %>
        <% end %>
    </header>
    <p class="notice">
        <%= notice %>
    </p>
    <p class="alert">
        <%= alert %>
    </p>
    <%= yield %>

    <% if current_user %>
        <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <p>Visible only for superadmins and supervisors! </p>
        <% end %>
    <% end %>
</body>

</html>